.animate__zoomInDown,.animate__fadeIn {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; 
}
.animate__bounce,.animate__zoomIn{
  display: block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; 
}

.correct {
  color: rgb(34, 208, 34);
}

.incorrect {
  color: red;
}

.current-char {
  background-color: #ff7f00;
}

.select-option {
  width: 15rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  font-size: 1.3rem;
  cursor: pointer;
}




.select-option:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}
.main-clock{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-timer {
  border: 3px solid #ff7f00;
  width: 5rem;
  height: 5rem; 
  border-radius: 50%;
  padding: 2%;
  font-size: 3.2rem;
  color: #a6631f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-elements{
  padding-bottom: 3%;
}
.main-inputarea input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 80%;
  border-radius: 1rem;
  color: #6aa0ed;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  
}

.main-inputarea input:focus {
  outline-color: #6aa0ed;
}
.main-header {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.fancy-heading {
  font-size: 3rem;
  font-family: 'Arial', sans-serif;
  color: #ff7f00; 
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5), -2px -2px 5px rgba(255, 0, 0, 0.5);
  position: relative;
  display: inline-block;
}

.fancy-heading::before,
.fancy-heading::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff4500;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  animation: flames 2s infinite alternate;
}

.fancy-heading::after {
  left: auto;
  right: 0;
}

@keyframes flames {
  0% {
    opacity: 0.7;
    transform: translateY(-20%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
  }
}
.header-two {
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
  color: #fd4500; 
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #fd4500, #fd4500); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.main-para {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  color: #313c3d;
  line-height: 1.5; 
}

.main-para span {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  margin: 1.2px;
  font-weight: 500;
}
.last-section{
  padding-bottom: 5%;
}